body{
    margin: 0px;
    padding: 0px;
}
.Main-logo{
    display: flex;
    justify-content: space-between;
}

#img1{
    width: 850px;
    height: 670px;

}
#header{
    margin-bottom: 10px;
    margin-left: 30px;
}

.fa-twitter{
    color: #1da1f2;
    font-size: 50px;
    margin-top: 30px;
}
h1{
    font-size: 80px;
    margin-bottom: 40px;
}
h2{
    font-size: 37px;
}
#button1{
    width: 370px;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    padding: 13px;
    border-radius: 30px;
    opacity: 0.9;
    font-size: 16px;
    margin-bottom: 19px;
}

.Blue{
    color: skyblue;
}
#button1:hover{
    opacity: 1;
    background-color: #1a91da;
    cursor: pointer;
}
#button2{
    width: 370px;
    border: 1px solid black;
    padding: 13px;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 17px;
}
#button2:hover{
    opacity: 1;
    background-color: #1a91da;
    cursor: pointer;
}
#links{
    text-align: center;
    margin-bottom: 3px;
}
#a2{
    color: #5b7083;
    text-decoration: none;
    margin-right: 12px;
    font-size: 14px;
}
#a2:hover{
    text-decoration: underline;
}
#label1{
    color: #5b7083;
    font-size: 14px;
}
